{% extends 'game/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/rank.css' %}">
    {% endblock %}

{% block content %}
<div class="col-md-11 leaderboard">
  <h1 id="head" >Leaderboard</h1>
  <div class="flex-row row">
    <div class="table-div col-md-9"><table class="tables">
          <tr>
            <td>0</td>
            <td><span>{{player.username}}</span></td>
            <td>{{player.points}}</td>

          </tr>
          <tr><span class="lines"><span>
          </tr>
      {% for user in queryset %}          
          <tr>
            <td>{{forloop.counter}}</td>
            <td><span>{{user.username}}</span></td>
            <td>{{user.player.points}}</td>
          </tr>
           

      {%endfor%}
    
    </table></div>
    <div class="col-md-3 mario-leaderboard"><img src="{% static "images/lb.svg" %}"> </div>
  </div>
  </div>
{% endblock %}
{% block post %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock post %}