{% extends 'game/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/rank.css' %}">
    {% endblock %}

{% block content %}
<div class="col-md-11 leaderboard">
  <h1 id="head" >Leaderboard</h1>
  <div id="playerScore">
    {% if user.is_authenticated %}
        {{ user.username }} your score is {{ user.player.points }} <img src="{% static 'images/Bonus.svg' %}" alt="">                {{user.player.bonus_attempted}}
      {% endif %}
  </div>
  
  
  <div class="flex-row row">
    <div class="table-div col-md-9" id="leaderboardTable">
      <table class="tables">  
        {% for user in queryset %}          
            <tr>
              <td>{{forloop.counter}}</td>
              <td><span>{{user.username}}</span></td>
              <td>{{user.player.points}}</td>
              <td class="d-flex flex-row"><div><img src="{% static 'images/Bonus.svg' %}" alt=""></div> <div class="ba">{{user.player.bonus_attempted}}</div></td>
            </tr>
        {%endfor%}      
      </table>
    </div>
    {% comment %} <div class="col-md-3 mario-leaderboard"><img src="{% static "images/lb.svg" %}"> </div> {% endcomment %}
  </div>
  </div>
{% endblock %}
{% block post %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock post %}