{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style='margin-left:150px'>
	<div class="content-section">

        {% csrf_token %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
             <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
             
              <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

 <script>
    $("#id_username").keypress(function(){
        $.ajax({
            type: "GET",
            url: {% url 'register' %},
            success: function(data){
                console.log("hello");
            }
        })
    })

    // $("#id_referral").keypress(function () {
    //     console.log("Getting xecuted")
    //     if ($("#id_roll").value == $("#id_referral").value){
    //         console.log("Same Values")
    //         $("button")[0].disabled = true;
    //     }
    // })
    // setInterval(function(){if ($("#id_roll").value != $("#id_referral").value){
    //         $("button")[0].disabled = false;
    //     }},1000);
</script> 

{% endblock %}	