
.row .sub-ttle{
	padding:20px;
}

.btn-primary {
    background-repeat: repeat-x;
	margin-top:10px;
    border-color: white;
}

body{
	background-color: black;
	overflow-x: hidden;
	color: #fff;
	font-size: 2rem;
}

.questionArea {
	position: absolute;
	height: 100%;
	width: 100%;
}

.questionumber {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

.questionontent {
	display:block;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-size: 30px;
}

#randomInsult{
	font-size: 30px;
	color: white;
	font-style:italic;
}

.imageArea img {
	display: block;
	z-index: 1;
	height: 359px;
}
audio{
	margin-top:100;
}
input{
	/* color: white !important; */
	background-color: #000;
	height: 40px;
	border-radius: 10px;
}
#id_answer{
	margin-left: auto;
	width: 100%;
}
form{
	width: 70%;
	margin: auto;
	z-index: 100;
	margin-top: 20px;
}
.questionMedia img{
	height: 200px;
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.questionMedia audio{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.questionMedia video{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.subutton{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.questionumber{
font-size:60px;
}
.sub-ttle{
font-size:25px;
}

/* 
@media only screen  and (max-width:992px){
}
@media only screen  and (max-width: 751px){
	body{
		font-size:50%;
	}
}
@media only screen  and (max-width:992px){
}
@media only screen  and (max-width:992px){
}
@media only screen  and (max-width:992px){
}
@media only screen  and (max-width:992px){
} */