/* .container {
	width: 94vw;
	height: 80vh;
}
.cardContainer {
    display: inline-block;
    width: 69vw;
    height: 85vh;
    margin-left: 10vw;
    margin-top: 4vh;
}
*/
.card {
    width: 15vw;
    height: 36vh;
    background-color: #ff0000;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 3vh;
    margin-bottom: 4vh;
    border-radius: 3vw;
	box-shadow: 0 20px 20px -5px  #ff6666;
    /* float: left; */
}
.cardImage{
	width: 10vw;
	height: 25vh;
	display:block;
    margin:auto;
	margin-top: 12px;
}

.cardImage:hover{
	transform: scale(1.1);
	transition-duration: 0.5s;
	cursor: pointer;
}

.card .intext{
	color:white;
	font-size:1em;
	font-weight: 2;
	text-align: center;
	padding-top: 20px;
}
/*	
.imgContainer {
    display: inline-block;
    width: 20vw;
    height: 78vh;
    position: absolute;
    top: 8vh;
    right: 0vw;
    overflow: hidden;
}
#mario {
	display: inline-block;
    margin-top: 2vh;
    margin-left: 1vw;
    height: 74vh;
     width: 30vw; 
    position: absolute;
    top: 0vh;
    right: -12vw;
}

-------------------------------For tablet and landscape mode--------------------------------------
@media only screen and (max-width: 770px){
	
	.container {
		display: block;
		height: auto;
		width: auto;
	}
	.cardContainer {
		width: auto;
	    height: auto;
	    margin: 11vw auto 5px auto;
	    padding: 2vw;
	    display: block;
	}

	.imgContainer {
		display: block;
		width: 90vw;
		height: 360px;
		margin: 3px auto 3px auto;
		padding: 1px;
		position: relative;
		overflow: visible;
		top: unset;
		right: unset;
	}

	#mario {
		display: block;
		height: 350px;
		width: 85vw;
		position: relative;
		left: unset;
		right: unset; top: unset; 
		bottom : unset;
		margin-left: auto;
		margin-right: auto;
	}

	}
-----------------------------For mobile devices==================
@media only screen and (max-width: 780px){

	.container {
		display: block;
		height: auto;
		width: auto;
	}
	.cardContainer {
		width: auto;
	    height: auto;
	    margin: 11vw auto 5px auto;
	    padding: 2vw;
	    display: block;
	}
	.card{
	    width: 67vw;
	    height: 35vh;
	    margin-left: auto;
	    margin-right: auto;
	    border-radius: 15vw;
		box-shadow: 0 20px 20px -5px  #ff6666;

	    display: block;
	    float: none;
	}
	.imgContainer {
		display: block;
		width: 90vw;
		height: 360px;
		margin: 3px auto 3px auto;
		padding: 1px;
		position: relative;
		overflow: visible;
		top: unset;
		right: unset;
	}

	#mario {
		display: none;
		height: 350px;
		width: 85vw;
		position: relative;
		left: unset;
		right: unset; top: unset; 
		bottom : unset;
		margin-left: auto;
		margin-right: auto;
	}

} */
