
body{
	background-color: black !important;
}

.card{
  height:200px;
  width: 200px!important;
  background-color:black !important;
  margin: 10px;
}

.card img{
	padding-top: 12px;
	transition: transform .2s;
}
.card img:hover {
	transform: scale(1.1);
}
.footer {
	margin-top: 10% !important;
}
