{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
	<!-- Set Title -->
	<title>SARCasm</title>

	<!-- Required Meta Tags -->
	<meta property="og:title" content="SARCasm" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://sarcasm.sarc-iitb.org" />
	<meta property="og:image" content="https://sarcasm.sarc-iitb.org{%static 'images/thumbnail.jpg' %}" />
	<meta property="og:description" content="Sarcasm. Insti's online crypt hunt." />
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}{% endblock %}    

		<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="shortcut icon" href="{%static 'images/fav1.png'%}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{%block css%}{% endblock %}
	
</head>
<body>	
	<div class="navbar vivek">
    <a href="{% url 'game-home' %}"><img src="{% static "images/home.svg" %}"><div class="icons">Home</div></a>
    <a href="{% url 'instructions' %}"><img src="{% static "images/instructions.svg" %}"><div class="icons">Rules</div></a>
    <a href="{% url 'leaderboard' %}"><img src="{% static "images/leaderboard.svg" %}"><div class="icons">Rank</div></a>
    <a href="{% url 'forum' %}" target="_blank"><img src="{% static "images/forum.svg" %}"><div class="icons">Forum</div></a>
    <a href="{% url 'contacts' %}" class="help"><img src="{% static "images/help.svg" %}"><div class="icons">Help</div></a>
    <a href="{% url 'prize' %}"><img src="{% static "images/trophy.svg" %}"><div class="icons">Prizes</div></a>
	<a href="{% url 'bonus' %}"><img src="{% static "images/trophy.svg" %}"><div class="icons">Bonus</div></a>
 
  </div>

  <div class="footer vivek">
    <a href="https://www.facebook.com/SARC.IITB/" target="_blank">
			<img src="{% static "images/fb.svg" %}"></a>
    <a href="https://in.linkedin.com/in/sarciitb" target="_blank"><img src="{% static "images/linkedin-sign.svg" %}"></a>
    <a href="https://www.youtube.com/user/SARCIIT" target="_blank"><img src="{% static "images/youtube.svg" %}"></a>
  </div>
	<div>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}}">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}		
	</div>
	{% block content%}

	{% endblock %}

	
	<!-- Optional JavaScript -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123803318-2"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-123803318-2');
	</script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% block post %}{% endblock %}
</body>
</html>


