{% extends 'game/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/play.css' %}">
 {% endblock %}

{% block content %}
<!-- 	<h1>Congratulations! You have logged in. Let's play now</h1>
 		<a href="{% url 'logout' %}"> <button class="btn btn-outline-info" type="submit">Logout</button></a> -->
 <div class="container">
    <div class="questionContainer d-flex flex-column">
        <div class="">
          <p id="randomInsult" class="" style="opacity:0 ;width:1000px; height:40px; text-align:center;"></p>
        </div>
        <div class="questionDetails">
          {% if not level.is_bonus %}
            <div class="row questionumber">{{level.level_id}}.</div>
          {% endif %}
          {% if level.is_bonus %}
            <div class="row questionumber">Its a Bonus question<br>
              <p style="font-size:0.5em; ">*Do read the insructions regarding bonus question</p>
            </div>
          {% endif %}
        </div>
        <div class="row questionontent">
          {% if level.question is not None%}<div class="sub-ttle">{{level.question}}</div>{% endif %}
        </div>  
        <div class="row questionMedia card-img">
          {% if level.image.url is not None %}<img src={{level.image.url}} class="img-responsive">{% endif %}
          {% if level.audiofile.url is not None %}<audio controls><source src={{level.audiofile.url}} type="audio/mpeg">
	                              Your browser does not support the audio tag</audio>
	        {% endif %}
        	{% if level.videofile.url is not None %} <video width="auto" height= "150" controls><source src={{level.videofile.url}} type="video/mp4">
            Your Browser does not support the video tag
                                  </video>
	        {% endif %}
        </div>
        <div class="row">
          <form class="d-flex flex-column" method="POST" action="" id="answer"> {% csrf_token %} 
            {{form}}  
          <input  type="submit" value="submit" name="" class="submitButton row">
          </form>
        </div>
       
    </div>
    {% comment %} 
      <div class="offset-2 col-md-2 col-sm-2">
       <p onmouseover="showInsult()" class="imageArea"><img id="marioimg"  src="{% static "images/mario-question.svg" %}"></p>
      </div> 
    {% endcomment %}
   </div>
   
 </div>
{% endblock %}

{% block post %}
<script type="text/javascript">
    var comments = ["Hey Step up your game", "You can still win","It will be nicer if you try being smarter","I’d agree with you but then we’d both be wrong","Keep Typing. Maybe you’ll find the answer","My friend says that you need a therapist.","Remember what I told you: It's hard ","Life sometimes gets hard for no reason ","50% correct 50% incorrect","Same old same old ","   Maybe you don't want the prizes so bad ","I think you are stuckkkk….","I bet you didn't see that coming ","This is an easy question ","Looks like someone needs a little help ","I am surprised you reached till here ","It's not what you are thinking ","JBL PORTABLE SPEAKER","JBL WIRED HEADPHONES","10000 mAH MI POWER BANK","ROUTER ","BOAT EARPHONES "," I don't know that either ","Good luck! You will need it "];
    $(document).ready(function(){
      $("#marioimg").hover(
        function () { $("#randomInsult").css("opacity", "1"); },
        function () {$("#randomInsult").css("opacity", "0"); });  });


fun ction showInsult() {
     var comment = comments[Math.floor(Math.random() * 25)];
  // var randomInsult = "Your " + randomBodyPart + " is " + randomAdjective + " " + randomWord;
     var randomInsult = comment;
     document.getElementById("randomInsult").innerHTML = randomInsult;
};


var question = "{{que}}";
console.log(question);
function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes[0].nodeValue;
}
question = htmlDecode(question);
console.log(question);

$(".sub-ttle").innerHTML = question;
console.log("here")


/*
// function QuestionFormatter(){
//   var question = "{{level.question}}";
//   question = question.replace(/\n/g,'\\n')
//   return question
// };
*/






//  $('#check').click(function() {
//   if ($(this).is(':checked')) {
//     $('#submit').removeAttr('disabled');
//     $('#para').css('opacity','0');
//   } else {
//     $('#submit').attr('disabled', 'disabled');
//   }
// });


// var ispoem = "{{level.is_bonus}}";
// console.log(ispoem);
                                    
// if(ispoem == "False"){
//   console.log("Condition Executed");
//   $("form").keypress(function (e) { 
//     console.log("Identified object");
//     if (e.keyCode == 13)
//     {
//       e.preventDefault();
      
//       console.log("Enter Pressed");
//       return false;
//       }
//   });                      
// }



</script>
{% endblock %}
